* {
  margin: 0;
  padding: 0;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

a {
  text-decoration: underline;
  color: inherit;
}

body {
  display: flex;
  flex-direction: row;
}

#side-splash {
  position: relative;
  display: flex;
  flex-direction: column;
  background-image: url("./images/johannes-plenio-pFZx2htSMDE-unsplash.jpg");
  background-position: center;
  width: max(45%, 700px);
  height: 100vh;
  justify-content: space-around;
}

#side-splash-caption {
  background-color: rgba(25, 25, 25, 0.15);
  color: #eee;
  font-size: smaller;
  width: 100%;
  position: absolute;
  bottom: 36px;
  text-align: center;
}

#logo-banner {
  background-color: rgba(25, 25, 25, 0.35);
  padding: 7px 0;
  margin-bottom: max(280px, 35%);
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#logo-image {
  text-align: center;
  font-size: 30px;
  margin-right: 5px;
}

#logo-text {
  text-align: center;
  font-size: 30px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin-right: 10px;
}

.hero {
  background-color: #dddddd;
  padding: 10% 20% 20px 20px;
}

.form-card {
  background-color: #eee;
  box-shadow: 0px 5px 5px #999;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 10px;
  padding: 30px min(600px, 70%) 20px 20px;
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.input-pair1, .input-pair2, .input-pair3 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}

label {
  display: flex;
  flex-direction: column;
  font-size: smaller;
}

input {
  border-color: #113;
  border-radius: 0;
  border-width: 4px;
  border-style: solid;
}

input:focus, input:focus-within {
  border-color: #0af;
  border-radius: 0;
  border-width: 4px;
  border-style: solid;
}

input:required {
  box-shadow: 1px 1px 3px rgba(20,20,20,0.5);
}

input:required:focus {
  border-color: #02d;
  border-radius: 0;
  border-width: 4px;
  border-style: solid;
}


input:required:invalid {
  box-shadow:3px 3px 5px rgba(240,40,40,0.7);
}

.required-caption {
  font-size: smaller;
}

#submit {
  background-color: #e5a033;
  padding: 10px 20px;
  border-style: none;
  border-radius: 4px;
  color: #fff;
  font-weight: 900;
}
#cta {
  margin-left: 20px;
  margin-top: 20px;
}
#cta>p {
  margin-top: 12px;
}

footer {
  position: fixed;
  bottom: 0;
  height: 20px;
  width: 100vw;
  background-color: #ddd;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 8px 0px;
}